[2022-01-25 08:25] think-in-universe commented on #733
Enable configuring multiple RPC nodes also helps to resolve the feature request of switching RPC URLs in NEAR wallet: https://github.com/near/near-wallet-roadmap/issues/36, if wallet could set fallback RPC URLs by default.

[2022-01-25 14:52] SteveYuOWO commented on #733
@volovyk-s
I tried to add a new property `node_urls`. Tried polling different `Connections` and found that none of the `Connection` functions could return the `status` of the node. The `status()` function still request retry 12 times rather than return a wrong status.
Perhaps we can  `exponentialDifferentConnectionsBackoff` function instead of the `exponentialBackoff` function to achieve multiple

[2022-01-25 15:05] SteveYuOWO commented on #733
Another idea is. Before executing `sendJsonRpc`, we poll through the list of all rpc's. Find a connectable rpc and default it to be reliable. This avoids `exponentialBackoff ` to nodes that can never connect.

[2022-01-27 16:52] austinabell opened #775 "CLI does not allow any JSON except map"
**Describe the bug**

If anything except for a JSON map is put as the parameters for any call or view cli command, this error is returned:
[code]

The issue is that the JSON does not have to be a map to be deserialized as parameters of a function. For example, in the `near-sdk-rs`, `serde`  is used for the input parameters which allows deserializing as a map or an ordered sequence (JSON array).

S

[2022-01-27 17:09] austinabell opened #776 "No explorer link on failed txs"
**Describe the bug**

When sending any transaction that fails on-chain, there is no explorer link included, and the explorer link is only available when a transaction succeeds. I think it's more important to have the link to the tx on explorer when a transaction fails than when it succeeds to be able to debug.

**To Reproduce**
Steps to reproduce the behavior:

Send tx that will fail through CLI

[2022-01-27 17:21] willemneal commented on #776
@austinabell Isn't this a `near-cli` issue?

[2022-01-27 18:38] austinabell commented on #776
Oh oops, I opened this and #775 on the wrong repo lol. I'll move

[2022-01-27 21:53] ryancwalsh commented on #719
@volovyk-s I don't think your link answers the question (and so I think this issue should be reopened). Your link points to a JS file. I have the same question as @modagavr , which is about TypeScript. Thanks.

[2022-01-27 22:01] ryancwalsh commented on #719
@modagavr I think the suggestion at https://stackoverflow.com/a/34314764/470749 might be working for me.

I first define an "intersection type":

[code]

During Contract instantiation, I specify the `changeMethods` that I desire, such as `changeMethods: ['nft_mint']`.

Then later I can do something like `const result = (contract as NFT).nft_mint(...`

[2022-01-28 20:18] ryancwalsh opened #778 "clearer names for parseNearAmount and formatNearAmount?"
This is just a minor naming suggestion (I'm a new hire on NEAR Foundation's Education team).

At [https://github.com/near/near-api-js/blob/master/examples/quick-reference.md#near--yoctonear](https://github.com/near/near-api-js/blob/master/examples/quick-reference.md#near--yoctonear) I see:

[code]

Personally, I feel like `parseNearAmount` and `formatNearAmount` aren't clear enough method names.

[2022-01-28 22:12] willemneal commented on #778
Check out https://www.npmjs.com/package/near-units

[2022-01-28 22:15] ryancwalsh commented on #778
Awesome. Thanks, @willemneal !

[2022-01-31 21:14] vans163 commented on #607
I got this to work with CJS with some fixes. This only supports webpack and you need

webpack.config.js
[code]
Buffer and process plugins.

I think this line needs revising because this also crashes inside browsers with `process is not defined` if we build without using webpack+that plugin. https://github.com/near/near-api-js/blob/fd6d643dd9f0d4815a5f14b0525750e86433c862/src/account.ts#L161

Perha

[2022-01-31 22:01] willemneal commented on #719
@modagavr,  This isn't a bug, rather JS at runtime that is missing types at compile time.

In `Contract`'s constructor at runtime adds those methods, but at compile time TypeScript still sees just the `Contract` methods that are defined, so none of them.

Here is an example of how to provide type information and documentation for your contract methods:

https://github.com/AhaLabs/cra-template-near

[2022-01-31 22:04] ryancwalsh commented on #757
See related: https://github.com/near/near-api-js/issues/747

[2022-02-01 00:54] ryancwalsh opened #781 "Idea: make view-only calls simpler"
The good news is that the following code works (or rather, when combined with more code that I haven't shared here).

<pre> export function getNftContract(account: Account) {
 const contract = new Contract(
 account, // the account object that is connecting
 certificateContractName,

 { viewMethods: ['nft_token'], // view methods do not change state but usually return a value changeMethods: ['nft_

[2022-02-02 12:51] shyamin opened #786 "can not create wallet using createAccount"
Can not sign transactions for account ldx.testnet on network testnet, no matching key pair found in InMemorySigner(MergeKeyStore(UnencryptedFileSystemKeyStore(/home/sysadmin/.near-credentials), UnencryptedFileSystemKeyStore(/home/sysadmin/neardev)))

i need to create sub wallet according to my main account.
 First i create connection in testnet and create key store using credentials directory
 the

[2022-02-02 14:32] Hatzz opened #787 "Setting up fetch and declaring it as a global variable throws an error"
***Describe the bug***
 When importing the near api modules the following error gets thrown:
[code]
 Which goes to the following line in this library:
 [https://github.com/near/near-api-js/blob/0139380c986c88a6ea4a07d6ecb24194859fcc46/src/connect.ts#L30](https://github.com/near/near-api-js/blob/0139380c986c88a6ea4a07d6ecb24194859fcc46/src/connect.ts#L30)

I could fix it by simply deleting the line

[2022-02-05 14:28] ryancwalsh commented on #747
Hey @volovyk-s , I'm curious whether anyone has made progress in the direction that @MaximusHaximus described at https://github.com/near/near-api-js/pull/748. Where can I track that?

If not, can you please reopen #747 because I keep running into this problem (not just with Gatsby but also with Next.js getServerSideProps).

I see also other people running into it at https://github.com/near/near-ap

[2022-02-10 13:23] Alibek23 opened #790 "(node:15412) UnhandledPromiseRejectionWarning: TypeError: Cannot read property 'keyStore' of undefined"
`const keyStore = null; // GetLocalnet();

const config =

 { networkId: "example.testnet", keyStore, // optional if not signing transactions nodeUrl: "https://rpc.testnet.near.org", walletUrl: "https://wallet.testnet.near.org", helperUrl: "https://helper.testnet.near.org", explorerUrl: "https://explorer.testnet.near.org", }

;
 const near = await connect(config);

return near;`

where to get the

[2022-02-10 17:24] kn opened #791 "Should access key be removed when users sign out for increased security?"
***Is your feature request related to a problem? Please describe.***
 I noticed that WalletConnection leaves an access key in the browser's local storage when the user signs out. As far as I can tell, the code never makes use of such an access key again.

***Describe the solution you'd like***
 My suggestion here is to remove the access key when the user signs out for increased security.

***Descr

[2022-02-13 12:28] frolovdev opened #795 "Strict mode in tsconfig"
**Is your feature request related to a problem? Please describe.**
Let's enable a strict mode in typescript

**Describe the solution you'd like**
Enable strict mode by fixing current errors

https://www.typescriptlang.org/tsconfig#strict

**Describe alternatives you've considered**
N/A

**Additional context**

An error log is not so big, so it can be done in one pr without any gradual migration. I

[2022-02-13 19:23] frolovdev opened #796 "Why do you store the dist (lib folder) in the git?"
***Is your feature request related to a problem? Please describe.***
 You store the result of compilation on git. Is there any reason for this

***Describe the solution you'd like***

Add a dist to gitignore, rebuild the dist on every prerelease script

***Describe alternatives you've considered***
 N/A

[2022-02-13 19:25] frolovdev opened #797 "Pick the right target node version"
_**Is your feature request related to a problem? Please describe.**_ Provide transparency for the users, which version of node runtime you support

 _**Describe the solution you'd like**_ e.g. in package.json

 "engines":

 { "node": ">=12.20.0" }

 _**Describe alternatives you've considered**_ N/A _**Additional context**_ Add any other context or screenshots about the feature request here.

[2022-02-13 19:39] willemneal commented on #796
My guess is that early on it meant that you could depend on the repo as a git dependency.

[2022-02-13 19:49] frolovdev opened #798 "Introduce any bundler"
**Is your feature request related to a problem? Please describe.** Javascript ecosystem contains a lot of environments and module variants.

The main targets are:

*   node with native ESM. You will support cutting-edge users, which will have a passion for esm modules.
*   node with common js
*   browsers with esm (which will be handled by bundler on consumer side). To make it treeshackable.

To s

[2022-02-13 19:51] frolovdev commented on #796
Thanks for the answer @willemneal , so right now it's a redundant behavior and we can take a step ahead to remove it?

[2022-02-14 18:05] il3ven opened #799 "possible typo in quick reference docs"
***Describe the bug***
 The quick reference docs includes a section about <span class="error">[*loading a contract*]</span>([https://github.com/near/near-api-js/blob/master/examples/quick-reference.md#load-contract](https://github.com/near/near-api-js/blob/master/examples/quick-reference.md#load-contract)). In the sub-section about loading a contract from a wallet there appears to be a typo.

The

[2022-02-14 18:57] il3ven commented on #799
You are right. I just checked the source code. Should I create a quick PR to fix the docs?

https://github.com/near/near-api-js/blob/e92725352a5ad33db7ba97f4d181da44af88267f/src/contract.ts#L31-L45

[2022-02-14 18:59] willemneal commented on #799
Definitely!

[2022-02-15 12:56] Tarnadas commented on #757
This also happens if you try to bundle your app with [esbuild](https://esbuild.github.io/) and `--format=esm`.

[code]

The reason why it tries to bundle `buffer` module from Node comes from the js-sha256 dependency, which has this 'unsafe eval' line: https://github.com/emn178/js-sha256/blob/master/src/sha256.js#L84
Esbuild recognizes this and tries to bundle it.

Maybe it would be an idea to swit

[2022-02-16 14:54] chadoh commented on #747
@ryancwalsh I created #801 to workaround the lingering reference to `window` when initializing a `WalletConnection`, which was the big blocker for me when building a Gatsby site. I'd love to see the suggestions from @MaximusHaximus in #748, but until then, hopefully this is an acceptable approach.

Use it now by updating your `package.json` with:

    "near-api-js": "AhaLabs/near-api-js#1.0.1"

[2022-02-16 15:08] ryancwalsh commented on #747
@chadoh Cool, thanks for sending.

[2022-02-16 20:00] dellwatson opened #803 "Incorrect error message from provider viewFunction"
I'm using provider and I followed the examples from here:
[https://github.com/near/near-api-js/blob/master/examples/cookbook/utils/get-state.js](https://github.com/near/near-api-js/blob/master/examples/cookbook/utils/get-state.js)

here's the code:
[code]

but the error doesn't make sense: missing field account_id ?
[code]

[2022-02-16 20:01] willemneal commented on #803
`accountId: 'nft-example.dellwatson.testnet', ` --> `account_id: 'nft-example.dellwatson.testnet',`

[2022-02-16 20:54] dellwatson commented on #803
my bad, i was really sure the query is `accountId` turns out it has underscore too

[2022-02-16 20:54] #803 closed

[2022-02-16 21:58] willemneal commented on #803
No worries!

[2022-02-20 11:07] danielwpz opened #807 "deployContract throws but the transaction actually succeeded"
***Describe the bug***
 Hey, I found that when using `account.deployContract` on testnet, an error will be thrown:
 `TypeError: Cannot read properties of null (reading 'error_message')`.

However the contract is actually DEPLOYED according to the explorer, I can see a successful deploy transaction.

BTW when I tried to log the `response.error` object which caused the previous error I got : `

 { c

[2022-02-22 22:42] TrevorJTClarke commented on #733
@frol @volovyk-s Yet another downtime/major latency issues on primarily on testnet, because of the dependency of a single RPC provider.

[2022-02-24 18:04] samingle commented on #440
Have a draft of this in #810

[2022-02-27 19:21] koen-vr commented on #787
Ran into the same issue:

Ref. https://github.com/vecno-io/arc-near-client

[2022-03-03 13:58] Talented-Developer opened #812 "near-api-js document does not reflect new version"
config for near connect requires headers field in it, but could not find it on the document.
 #[https://docs.near.org/docs/api/naj-quick-reference](https://docs.near.org/docs/api/naj-quick-reference)

And they say keyStore is optional, but there happens this error when just to fetch account data.

[code]

[2022-03-08 19:00] yagop opened #815 "Transaction Type is wrong in ChunkResult response"
**Describe the bug**
The ChunkResult Type is wrong:

https://github.com/near/near-api-js/blob/v0.44.2/src/providers/provider.ts#L153

[code]

[code]

**To Reproduce**

[code]

**Expected behavior**
Types must be the same

**Screenshots**

**Desktop (please complete the following information):**

[code]

[2022-03-14 23:10] miancadonc opened #817 "WalletConnection calling asynchronous method from synchronous constructor"
_**Describe the bug**_ Constructor for `WalletConnection` calls `this._completeSignInWithAccessKey()` which is marked as asynchronous. If we initialize a `WalletConnection` in the recommended way,

 near = await connect(nearConfig);
 wallet = new WalletConnection(near);

`wallet` is not ready for use. Specifically, `_completeSignInWithAccessKey()` modifies browser history state and creates a race

[2022-03-21 16:23] sinnrrr opened #824 "Remove usage of `window` in WalletConnection class constructor"
***Describe the bug***
 Unable to use in Node.js environment due to direct reference to the window object. Getting `window is not defined` error. Link to <span class="error">[the cause of the issue]</span>([https://github.com/near/near-api-js/blob/e92725352a5ad33db7ba97f4d181da44af88267f/lib/wallet-account.js#L43](https://github.com/near/near-api-js/blob/e92725352a5ad33db7ba97f4d181da44af88267f/li

[2022-03-25 10:46] PP-Seatlab opened #829 "Ready for ReactNative?"
**Is your feature request related to a problem? Please describe.**
I'm trying to use it within ReactNative but since it's calling the `localstorage.getItem` to get/set key I'm gonna have problem cause ReactNative doesn't have _localStorage_
**Describe the solution you'd like**
for ReactNative it'd work replacing localstorage with AsyncStorage

[2022-03-26 16:15] hindams commented on #824
+1 for removing window from the library.

[2022-03-28 08:33] SteveYuOWO commented on #757
install buffer
[code]

In the index.ts file, add the following code.
[code]

[2022-03-28 08:36] keeplearning-near commented on #757
Just a temp solution

[2022-03-28 08:36] SteveYuOWO commented on #757
Just a temp solution

[2022-03-28 08:37] SteveYuOWO commented on #757
Just a temp solution

install buffer
[code]

In the index.ts file, add the following code.
[code]

[2022-04-04 11:24] Jack-Works opened #833 "Remove error-polyfill"
Hi! Please do not add a polyfill in a library. It throws an error in our environment.

[https://user-images.githubusercontent.com/5390719/161533892-eeab145e-1f6b-4912-8a6e-4f87755054be.png](https://user-images.githubusercontent.com/5390719/161533892-eeab145e-1f6b-4912-8a6e-4f87755054be.png))

[2022-04-06 13:13] willemneal opened #836 "View function should allow for finality option instead of pinning to optimistic"
[https://github.com/near/near-api-js/blob/6f83d39f47624b4223746c0d27d10f78471575f7/src/account.ts#L516-L531](https://github.com/near/near-api-js/blob/6f83d39f47624b4223746c0d27d10f78471575f7/src/account.ts#L516-L531)

[2022-04-08 10:34] dfl-grisha commented on #812
I have the same issue, thought specifying `keyStore` was not necessary if you aren't going to sign transactions.
Also any minimal working example on how to connect to NEAR network would be great.

[2022-04-09 08:20] think-in-universe opened #838 "store multiple local keys for one account"
**Is your feature request related to a problem? Please describe.**
Now when `requestSignIn` by one account, one local private function call key for one contract X will be saved in the local storage. If signIn against with another contract Y, the saved local private function call key will be overwritten. This works for 95% of the scenarios, but it's not convenient when the DApp needs to interact wi

[2022-04-11 13:25] piontkovsk11andre1 opened #839 "In 0.44.2 'headers' property is required in ConnectConfig"
After switching to 0.44.2 got error for `connect` function.

`Property 'headers' is missing in type '

 { ... }

' but required in type 'ConnectConfig'.`

near-api-js/lib/near.d.ts:

 /**

*   NEAR RPC API headers. Can be used to pass API KEY and other parameters.
*   @see {@link JsonRpcProvider.JsonRpcProvider | JsonRpcProvider}

     */
     headers:

     { [key: string]: string | number; }

[2022-04-11 14:56] Ellweb3 opened #840 "Can you make authorization in a new window as a parameter of the requestSignIn function?"
_**Is your feature request related to a problem? Please describe.**_ Yes. When developing plugins for other sites, it often fails to do authorization due to the fact that the near site cannot open in a frame.

 _**Describe the solution you'd like**_

Make an option to open authorization in a new window like option parametr for `wallet.requestSignIn` like `

 {"options": "newWindow": true}

`or a n

[2022-04-18 17:21] aka-toxa commented on #817
hey

Just created this PR https://github.com/near/near-api-js/pull/842

[2022-04-22 14:45] shelegdmitriy opened #844 "Wrong blockId field in BlockReference type for Provider.query method"
***Describe the bug***
 Wrong `blockId` field in <span class="error">[BlockReference]</span>([https://github.com/near/near-api-js/blob/master/src/providers/provider.ts#L35](https://github.com/near/near-api-js/blob/master/src/providers/provider.ts#L35)) type for <span class="error">[Provider.query]</span>([https://github.com/near/near-api-js/blob/master/src/providers/provider.ts#L416](https://githu

[2022-04-23 17:47] searchableguy commented on #824
Faced the same issue. It's almost impossible to polyfill the library as well because it depends on a gigantic set of browser only APIs.

[2022-04-24 18:24] Omhet commented on #607
Having the same problem with import in Vite project

[2022-04-28 06:57] polariseye opened #846 "how can i get the transaction history"
**Is your feature request related to a problem? Please describe.**
i am developing near wallet .and i can not found the api to get transaction history.

**Describe the solution you'd like**
add the transaction history api

[2022-05-06 07:06] chaim-g opened #849 "The keyStores object in near-api-js seems to be incorrectly referenced and cannot be called"

[2022-05-07 20:36] VolanDeVovan commented on #607
Created a repository which you can use as an example until its fixed
https://github.com/VolanDeVovan/near-vite-example

[2022-05-09 06:11] ailisp commented on #839
Pass to Application Team

[2022-05-13 17:47] LFSCamargo opened #854 "Unable to use the change methods of the contract on jest with near test-environment."
**Describe the bug** Unable to use the change methods of the contract on jest with near test-environment. I get this error when trying to use the change methods

<pre>Greeting Contract Tests › should change the greeting from the contract using the `set_greeting` method

 Class PublicKey is missing in schema: publicKey

 at serializeStruct (../../node_modules/borsh/lib/index.js:308:15)
 at serializ

[2022-05-13 20:18] veigajoao commented on #854
I'm having the same issue here.

Important to notice, in order for the repo to run the tests it's needed to add a folder  neardev/shared-test in the contracts folder.
In this folder, you'll need to place the access keys for test.near (genesis account for the test chain):

[code]

[2022-05-16 18:04] VanishMax commented on #798
Agree with @frolovdev. I wanted to use the Near API in the React project built with Vite, and it is not currently possible. Sadly

[2022-05-19 08:25] sangbeomji89 commented on #815
I also experienced this bug on TestNet.
===== =====
My Transaction Response is below attachment(image).
<img width="515" alt="NEAR ISSUE01_01" src="https://user-images.githubusercontent.com/82654114/169246580-f16df3c9-b293-4591-bf5a-fb2cb2614dcb.png">
So, I modified code like below attachment(image) and will pull request.
![NEAR ISSUE01_02](https://user-images.githubusercontent.com/82654114/169246

[2022-05-20 08:33] meta-head opened #857 "WalletConnection initialisation race condition"
**Describe the bug** async method `WalletConnection._completeSignInWithAccessKey` called from constructor cause `keyStore.getKey` to fail to fetch the key

**To Reproduce** after wallet login and return back to `?account_id=test.testnet&public_key=ed25519%..` in the code

const keyStore = new nearApi.keyStores.BrowserLocalStorageKeyStore(); const near = await nearApi.connect(

 {keyStore, ...nearC

[2022-05-20 13:43] KorayBarkin opened #858 "ReferenceError: window is not defined"
I'm trying to write a simple node health check code but it keeps giving me an error related with window. In the documentation keyStore written as optional if not signing transaction but when I leave it empty it gives an error. Any help appreciated.
[code]

[code]

[2022-05-23 04:06] urieltan opened #860 "RPC api method txStatusReceipts does not accept String for TxHash"
**Describe the bug** txStatus() accepts both uint8[] and string while txStatusReceipts only accept uint8[].

[<span class="image-wrap" style="">![](https://user-images.githubusercontent.com/9346641/169740398-ed50c201-73d7-4004-9488-df1472a9f182.png)</span>](https://user-images.githubusercontent.com/9346641/169740398-ed50c201-73d7-4004-9488-df1472a9f182.png)

**To Reproduce** Steps to reproduce the

[2022-05-26 21:05] BenKurrek opened #867 "Abstractions If Using JS SDK"
# Overview

Currently if you are using the javascript SDK, you're forced into an isolated environment similar to aurora. This isolated environment is called an enclave. The differences between the enclave and WASM (Rust and AS) approaches are outlined in the following table (as outlined in [this PR](https://github.com/near/near-sdk-js/pull/49):

| Areas                     | WebAssembly Version

[2022-05-26 22:38] willemneal commented on #867
What does this mean? Contracts haven't been written yet?

[2022-05-26 22:40] BenKurrek commented on #867
See [this](https://github.com/near/near-sdk-js/discussions/35) discussion (i'll edit the original post to point to the discussion as well).

[2022-05-27 22:14] giraffekey commented on #858
Are you using SSR by chance? (Next, Nuxt, SvelteKit)

If so you can do something like this:

[code]

If you aren't using the browser at all I'm not sure why you're using the localStorage key store.

[2022-05-31 15:40] austinabell opened #868 "Contract API should not require account with signer to initialize"
**Describe the bug**
The [constructor requires an `Account`](https://github.com/near/near-api-js/blob/6f83d39f47624b4223746c0d27d10f78471575f7/src/contract.ts#L90) which can sign transactions, but this is only required to be able to send transactions, not for view calls.

The solution to this would be to expose the view logic to something not tied directly to an `Account` [here](https://github.com

[2022-06-02 20:41] andy-haynes commented on #846
@polariseye the NEAR indexer is responsible for querying transaction history, it's not a part of `near-api-js`. There are public indexers available for testing but for production use in a wallet application please see https://near-indexers.io/

[2022-06-02 20:41] #846 closed

[2022-06-07 07:36] volovyk-s commented on #867
We should give users the ability to set custom JSVM accountId. Some of them will deploy their own JSVMs. It can be an optional parameter that defaults to `jsvm.<network>`.

Now all the `env` information is stored in the [config file](https://github.com/near/near-api-js/blob/75e3d77455f8d2bf5a780fd4a53ade65e3346508/src/near.ts#L19), we can add JSVM parameter to it. The user will ba able to set it [

[2022-06-08 17:23] bre30kra69cs opened #872 "1+ contract id for wallet"
Required feature: more then one contract id per wallet or multisign api

It's any option to do many signed contract I'd for one wallet?

[2022-06-08 17:30] #867 closed

[2022-06-08 21:35] bre30kra69cs commented on #872
Link to #838

[2022-06-13 12:36] morarafrank opened #879 "Cannot resolve near-api-js from utils/near"
Module not found: Can't resolve 'near-api-js' in '/$filepath/src/assets/js/near'

[2022-06-17 13:10] BenKurrek opened #882 "Add Warning and Docs for Deleting Account to Transfer NFTs and FTs"
When an account is deleted and funds are sent to the beneficiary, we should mention that "Deleting an account does not automatically transfer NFTs and FT to the beneficiary address. Ensure to transfer assets before deleting"

This could live as a comment / message for the interface and or could actually `console.log` such that if someone didn't know that, they could quickly re-create the account a

[2022-06-20 21:04] judith-Near commented on #882
[addressed by this PR ](https://github.com/near/near-api-js/pull/883)

[2022-06-21 08:54] ryota-murakami commented on #757
This is not work production build.

[2022-06-28 23:09] #118 closed

[2022-06-30 13:48] amirsaran3 commented on #857
We have the pending key in `localStorage` after we redirect back from the Near Wallet. While the key is being moved from pending to permanent storage (with `_moveKeyFromTempToPermanent`) we are trying to access the permanent version. That's why it's `null`.

I added a optional `checkForPendingKey = false` parameter to check for pending key as a fallback option if it can't find the permanent one.

[2022-06-30 13:55] amirsaran3 commented on #849
@chaim-g Can you provide more detailed information about this issue?

[2022-06-30 15:03] Boiethios commented on #635
I'm using the last version of `near-api-js`, but the code is still:

[code]

So it hasn't been fixed, has it?

I have to use force by disabling the TS typing:

[code]

[2022-07-02 11:33] lostpebble commented on #854
Running into _so many_ issues with Borsh and serialization and Near API JS. This is becoming by far my biggest frustration with Near at the moment.

Its feeling like a wall at the moment, I've run into it during development- where I had to ensure that when building my transactions, the classes were pulled from the exact same library import in the same way (more difficult than it sounds in complex

[2022-07-04 07:13] yipu0v0 opened #885 "Connect via proxy"
Can not connect near RPC via proxy. Environment variables such as `http_proxy` and `https_proxy` cannot work.

[2022-07-04 07:32] yipu0v0 commented on #885
[code]
Have found a way to solve. This code snippet work.

[2022-07-07 16:18] igorms-pro opened #887 "Unable to use serialize function on testnet env"
**Describe the bug** I am getting crazy with the `nearAPI.utils.serialize.serialize`. I am trying to follow the steps for `createTransaction` [here](https://docs.near.org/docs/tutorials/create-transactions). Since few hours, ` nearAPI.utils.serialize.serialize` returns an error:

 ndex.js:323 Uncaught (in promise) Error: Class String is missing in schema: publicKey
 at serializeStruct (index.js:32

[2022-07-11 22:36] masafumimori opened #889 "Module "fs" has been externalized for browser compatibility and cannot be accessed in client code."
**Describe the bug** Trying to use Vite and near-api-js and error below occurs.

[code]

**To Reproduce** Steps to reproduce the behavior:

1.  Go to '[my repo](https://github.com/masafumimori/dApps_samples)'
2.  Clone the project
3.  Move to `near-wasm` directory
4.  yarn install & yarn dev etc

**Expected behavior** No error occurs and display component

**Desktop (please complete the following

[2022-07-12 20:13] janewang commented on #817
Thanks for the PR @aka-toxa!

[2022-07-12 20:19] janewang commented on #885
@yipu0v0 Could we close this issue?

[2022-07-14 17:51] esaminu commented on #887
Hi @igorms-pro I am unable to reproduce this on [the transaction-examples repo](https://github.com/near-examples/transaction-examples). The error is a serialization error being thrown by [near/borsh-js](https://github.com/near/borsh-js) when it attempts to serialize your transaction. It happens [here](https://github.com/near/borsh-js/blob/6db74764cedb88097bd6d5636407f0b3481fba4c/borsh-ts/index.ts#

[2022-07-14 17:51] #887 closed

[2022-07-14 18:02] #860 closed

[2022-07-14 18:19] zcstarr commented on #857
+1 to this issue.

[2022-07-14 18:25] esaminu commented on #889
@masafumimori It's happening because you are importing directly via `near-api-js/lib`. You should change the import to just `near-api-js` since [the browser index is `lib/browser-index.js`](https://github.com/near/near-api-js/blob/master/package.json#L11) 🙂

[2022-07-14 18:25] #889 closed

[2022-07-14 19:23] #273 closed

[2022-07-14 19:27] #259 closed

[2022-07-14 19:37] #591 closed

[2022-07-14 19:44] #229 closed

[2022-07-14 20:12] #644 closed

[2022-07-14 20:39] #356 closed

[2022-07-14 20:45] #636 closed

[2022-07-14 20:45] #342 closed

[2022-07-14 21:12] #743 closed

[2022-07-15 00:00] masafumimori commented on #889
@esaminu
YES!!!
It all worked fine after removing `/lib` like you said. Thanks a lot!!

[2022-07-15 01:29] masafumimori opened #892 "Access to fetch at 'https://rpc.testnet.near.org/' from origin 'http://localhost:3000' has been blocked by CORS policy"
**Describe the bug** When I try to call method with connecting to testnet from `localhost:3000`, the CORS error occurs.

Access to fetch at '[https://rpc.testnet.near.org/](https://rpc.testnet.near.org/)' from origin '[http://localhost:3000](http://localhost:3000)' has been blocked by CORS policy: Response to preflight request doesn't pass access control check: It does not have HTTP ok status.

Do

[2022-07-15 04:31] masafumimori commented on #892
I created local dev environment following [this](https://docs.near.org/docs/tools/kurtosis-localnet).
But I still get the same CORS policy issue.

[code]

So, might be because of `Vite.js` I am using, instead of `near-api-js`.

[2022-07-15 10:23] lostpebble opened #893 "Create Account method call fails with NotEnoughBalance error, even though there is enough"
**Describe the bug**

While trying to create a new account using the API of:

<pre>await fundingAccount.functionCall({
 contractId: "near",
 methodName: "create_account",
 args:

 { new_account_id: newAccountId, new_public_key: publicKey, }

,
 gas: new BN("300000000000000"),
 attachedDeposit: new BN(toNear("0.19")),
 });</pre>

In this situation the `fundingAccount` has exactly 0.3 NEAR inside of

[2022-07-15 10:33] lostpebble commented on #893
btw seems like your bot here [exalate-issue-sync](https://github.com/marketplace/exalate-issue-sync) is editing issues and messing with the layout of code and things.

[2022-07-15 16:33] ductridev opened #894 "EventEmitter memory leak detected."
**Describe the bug** EventEmitter memory leak detected.

**To Reproduce** Steps to reproduce the behavior: click on Connect Wallet button and call this code:

 const keyStore = new keyStores.BrowserLocalStorageKeyStore();
 window.near = await NEARconnect(config);
 window.NEARwallet = new WalletConnection(window.near, "dag_crypto_bridge");
 if (!window.NEARwallet.isSignedIn())

 { window.NEARwallet

[2022-07-15 17:55] #817 closed

[2022-07-15 17:55] #857 closed

[2022-07-18 21:02] igorms-pro commented on #887
Thx a lot, I was doing something wrong.
Not I am facing an error when tried to make a deposit
[code]
    I have error when I deposit 0.1N. I dont know how to do it

[2022-07-19 03:21] breeze2501 commented on #885
OK.  But I think it's better for near-api-js to provide an option to connect via proxy.

[2022-07-19 21:52] janewang commented on #885
We will evaluate this internally. Cheers!

[2022-07-21 01:02] #753 closed

[2022-07-21 17:41] exalate-issue-sync[bot] opened #902 "ON Call Support Issues."

[2022-07-21 18:23] #401 closed

[2022-07-21 18:33] #791 closed

[2022-07-21 18:38] #583 closed

[2022-07-22 19:52] #613 closed

[2022-07-22 19:52] #614 closed

[2022-07-25 17:47] janewang commented on #618
@zcstarr Are you interested in submitting a PR for this? If not, we will update the error message. Cheers

[2022-07-25 18:05] janewang commented on #796
This is fixed by this commit in .gitignore. Closing.

[2022-07-25 18:05] #796 closed

[2022-07-25 19:30] #799 closed

[2022-07-25 21:19] #728 closed

[2022-07-26 16:10] zcstarr commented on #618
@janewang feel free to take this on. Thanks!

[2022-07-28 01:50] pyramation opened #905 "is there a diagram explaining how private keys are stored?"
hey all!

I'm curious how the mnemonics are stored inside of the near wallet, is it an iframe or some type of secure enclave?

Would be great to understand how it comes together, and I believe would be helpful for the community as well, thanks!

[2022-07-28 23:34] #618 closed

[2022-07-29 14:39] #787 closed

[2022-07-29 15:43] janewang commented on #905
Hey thanks for the comment. NAJ is not wallet specific. Since this is particular to a wallet - the NEAR wallet, it may be better to post in its repo https://github.com/near/near-wallet

Let me know if you'd like me to move the issue.

[2022-08-01 21:01] #450 closed

[2022-08-01 21:02] #205 closed

[2022-08-01 21:12] trechriron commented on #103
@amgando  - Is this issue still relevant? Thanks for your time!

[2022-08-01 21:33] #171 closed

[2022-08-01 21:33] #151 closed

[2022-08-01 21:33] #124 closed

[2022-08-01 21:34] #100 closed

[2022-08-01 21:35] #25 closed

[2022-08-01 21:35] #849 closed

[2022-08-01 21:46] janewang commented on #893
This is because pessimistic gas accounting. `Sender c747a14dc953fda7b3b795164676d85599805ae1bf8cdd6ada53275ff84de062 does not have enough balance 0.3 for operation costing 0.379272583759051470676888` You need  0.379272583759051470676888 to complete this tx.

[2022-08-01 21:46] #893 closed

[2022-08-01 21:49] #879 closed

[2022-08-01 22:13] lostpebble commented on #893
Could you please explain the numbers behind this if possible? How could we calculate this on our side? We need to be able to give users exact feedback if certain actions are possible or not.

If you look at my calculations- it seems like the "pessimism" is going above and beyond, as I've already accounted for breathing room. It appears that the expected extra "gas" is around 0.1 NEAR, which seems

[2022-08-01 22:34] janewang commented on #893
@MaximusHaximus @BenKurrek Do you have an explanation on gas accounting from our docs?

[2022-08-02 05:58] #609 closed

[2022-08-03 07:07] hcho112 commented on #654
team checked few scenarios that wasn't able to reproduce this error. Feel free to open this issue if you ever come across same error

[2022-08-03 07:07] #654 closed

[2022-08-03 08:02] #419 closed

[2022-08-08 15:15] austinabell opened #919 "Inconsistent JSON serialization of BigInt usage"
This is more a question about why the `bn.js` library is used for big integers. Unclear why [`BigInt` builtin](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/BigInt) isn't used/supported.

The main footgun right now is that `bn.js` JSON serializes integers as hex, which is inconsistent from how they are serialized in other tooling. The pattern seems to be that big

[2022-08-08 23:39] #797 closed

[2022-08-09 22:01] #627 closed

[2022-08-10 01:33] #611 closed

[2022-08-10 19:04] marcinbodnar commented on #790
Checked. No longer an issue.

[2022-08-10 19:04] #790 closed

[2022-08-11 11:03] A2DNEW opened #924 "env file not exists"
I use this code for create new account:

`createAccount(process.argv<span class="error"><span class="error"><span class="error">[2]</span></span></span>, process.argv<span class="error"><span class="error"><span class="error">[3]</span></span></span>, process.argv<span class="error"><span class="error"><span class="error">[4]</span></span></span>);`

But I don't find any ENV file in repository.

H

[2022-08-15 21:59] #824 closed

[2022-08-19 16:06] esaminu commented on #737
Hey @mattlockyer, thanks for reporting! Can I get some more info about how you setup `near-api-js` on a cloudflare worker? We'd like to repro this to decide how to proceed 🙂

[2022-08-22 20:14] marcinbodnar commented on #836
No longer an issue. `finality` is available with `options.blockQuery` for `viewFunctionV1` and with `blockQuery` param for `viewFunctionV2`

[2022-08-22 20:14] #836 closed

[2022-08-22 20:39] morgsmccauley commented on #924
[process.argv](https://nodejs.org/docs/latest/api/process.html#processargv) represents arguments passed via the command line rather than environment variables.

Assuming you're referring to this [file](https://github.com/near/near-api-js/blob/master/examples/cookbook/accounts/create-testnet-account.js), this must be run via the command line like so:
[code]
Where:
* `CREATOR_ACCOUNT` is the account

[2022-08-23 01:12] morgsmccauley commented on #892
@masafumimori The reason you are getting CORS errors is because you are adding a [non-supported header](https://github.com/masafumimori/dApps_samples/blob/master/near-wasm/frontend/src/components/Near/config.ts#L44) to the requests sent to the RPC endpoint. The browser will block any requests which contain headers which are not present in the [access-control-allowed-headers](https://developer.mozi

[2022-08-23 12:12] #812 closed

[2022-08-23 14:16] marcinbodnar commented on #892
Thank you @morgsmccauley
Closing the issue.

[2022-08-23 14:16] #892 closed

[2022-08-23 19:58] #924 closed

[2022-08-23 21:56] #375 closed

[2022-08-23 21:56] hcho112 commented on #375
After further investigation, we have confirmed that current implementation no longer contains flaky test(s). If anyone experience any issue(s) with the test, feel free to open this issue or create new one

[2022-08-24 11:49] hanakannzashi opened #943 "Interface does not match result"
**Describe the bug**
`finalExecutionOutcome.status.Failure`'s type `ExecutionError` does not match real response data `ExecutionError`: [<span class="image-wrap" style="">![](https://user-images.githubusercontent.com/95295094/186410721-c0ab5688-8127-4a94-b300-2e4569603c8b.png)</span>](https://user-images.githubusercontent.com/95295094/186410721-c0ab5688-8127-4a94-b300-2e4569603c8b.png)

`real resp

[2022-08-24 17:29] mgild commented on #919
In the same vein, why do `i128` fields only accept `number`?  They should accept either of the above suggestions.

[2022-08-24 17:32] mgild opened #944 "`i128` fields only accept `number` types on functioncall argument serialization"
**Describe the bug**
When you want to pass an i128 field to `functionCall` as a param in near-api-js, the field only accepts the `number` type, problematic for reporting high precision numbers

**To Reproduce**
Pass an i128 field as a parameter and call the function using near-api-js

**Expected behavior**
The field should accept a stringified version of the number of BN.js to accept large ints

*

[2022-08-24 19:25] marcinbodnar commented on #839
Fixed in https://github.com/near/near-api-js/pull/939

[2022-08-24 19:25] #839 closed

[2022-08-26 19:30] esaminu commented on #833
Hi @Jack-Works, thanks for reporting! Could we please have more info regarding your environment here and any other steps to repro?

[2022-08-27 03:13] Jack-Works commented on #833
Open `http://example.com`, then open console.

Input:

[code]

![image](https://user-images.githubusercontent.com/5390719/187012173-a868520c-b67e-41d5-b3ba-ac1dfcd6a846.png)

[2022-08-29 08:06] #416 closed

[2022-09-01 16:59] CircleChein opened #971 "Request for addition error type distinction under HANDLER_ERROR::UNKNOWN_BLOCK"
**Is your feature request related to a problem? Please describe.**
This is related to an inability to easily distinguish between blocks that do not yet exist (i.e. are outside of chain) and blocks that are void or skipped. This lack of granularity forces extra RPC calls to distinguish.

**Describe the solution you'd like**
Simply put, add a new sub-error beneath `HANDLER_ERROR` like `SKIPPED_BLOCK

[2022-09-01 20:10] #807 closed

[2022-09-04 20:33] morgsmccauley opened #972 "Migrate from Lerna to Changesets & Turborepo"
There are a few concerns I have with Lerna so I would like to suggest some alternatives while the cost of change is still low. The main concerns are:

*   Changelogs are generated from git commits - commits are tied closely to the implementation and don’t necessarily convey the overall change. Generating changelogs from PR titles with [lerna-changelog](https://github.com/lerna/lerna-changelog) is

[2022-09-05 20:19] #844 closed

[2022-09-05 20:22] esaminu commented on #367
Issue no longer exists in current release:
[code]

[2022-09-05 20:22] #367 closed

[2022-09-06 12:14] BeroBurny opened #978 "`keypair.verify` return false on message singed by himself"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Expected behavior**
`keypair.verify` should return true.

**Desktop (please complete the following information):**
 - OS: Ubuntu
 - Version:  20.04.4 LTS

[2022-09-06 14:47] #902 closed

[2022-09-06 20:38] morgsmccauley commented on #978
I was able to successfully verify signatures with the both of the following:
[code]
[code]

So this leads be to believe it's related to the private key you have. How was that generated?

[2022-09-06 23:41] #220 closed

[2022-09-07 08:24] BeroBurny commented on #978
It is "randomly" generated entropy

<hr>

I tried to use `tweetnacl` to get the same `sign` and `verify` and works fine

[code]

[2022-09-07 19:10] morgsmccauley commented on #978
`KeyPair.fromString` uses `nacl.sign.keyPair.fromSecretKey` under the hood, which takes a 64byte secret key rather than a 32 byte seed. This would be why the initial tests fail, but not exactly sure why that third succeeds 🤔.

If you want to feed your own entropy in to `KeyPair` you'll need to do something like this:
[code]

[2022-09-09 07:56] lostpebble opened #980 "Error types have degraded"
**Describe the bug**
When we used to call the `account.state()` method and the account does not actually exist on the network, we would get an error thrown which included:

[code]

But no such type gets returned anymore- all we get now is:

[code]

This was a big surprise as it broke our interface for account funding (we had to check if the account exists to show an interface which requests fundin

[2022-09-14 10:32] gwhartson opened #986 "Vue & vite prod error with near-api-js"
I am trying to preview a built application using latest near-api-js, when previewing, it gives me the below error

<img width="716" alt="image" src="https://user-images.githubusercontent.com/43705057/190131247-0847814d-3f74-4d17-a9c1-a809aaa0c5a4.png">

Can anyone help :)

[2022-09-15 12:00] erditkurteshiSQA commented on #737
Hey @mattlockyer, a kind reminder for the comment above. Thank you.

[2022-09-20 21:13] ryancwalsh commented on #944
Can you please share an example of what you were trying to call? Thanks.

[2022-09-20 21:16] ryancwalsh commented on #944
Does https://docs.near.org/tools/near-api-js/quick-reference#call-contract help?

[2022-09-21 12:08] mgild commented on #944
Sure thing, the function prototype I am calling below:
[code]

How I am calling:
[code]

[2022-09-21 12:27] mgild commented on #944
If I try to use a `BN` for `mantissa`, I recieve:
`Smart contract panicked: panicked at 'Failed to deserialize input from JSON.: Error("invalid number", line: 1, column: 314)', src/lib.rs:47:1``

[2022-09-21 12:28] mgild commented on #944
Same error when trying to use `string` for `mantissa`

[2022-09-21 14:47] nearken commented on #944
Using 'near_sdk::json_types::I128' allows you to pass in larger values as strings

[2022-09-21 14:49] ryancwalsh commented on #944
@mgild Ken and I were writing at the same time. Maybe his answer is what you need.

Otherwise, the reason I pointed to https://docs.near.org/tools/near-api-js/quick-reference#call-contract is because it gives an example like:

[code]

If you're using near-api-js, I'm curious if using that approach instead of `functionCall(` would help.

[2022-09-22 21:02] exalate-issue-sync[bot] opened #996 "feat: add wallet-rpc-provider to support various extension wallets"

[2022-09-26 19:16] #208 closed

[2022-09-26 19:17] morgsmccauley commented on #986
Can you please provide some more context on this? Under what conditions did you see this error? Could you maybe add some code snippets?

[2022-09-28 08:55] idea404 opened #1000 "Improve Informativeness of Error Messages in provider.query()"
**Is your feature request related to a problem? Please describe.**
Uninformative error messages from this repository propagate into the JS workspaces testing suite. As such, the `workspaces-js` testing suite outputs an unreadable large blob of text which developers must search through until they find a small informative string such as `FunctionCallError(MethodResolveError(MethodNotFound))` which t

[2022-09-28 17:14] #972 closed

[2022-09-28 19:53] #459 closed

[2022-09-28 19:57] morgsmccauley commented on #978
Going to close this now, feel free to open again if you have any more questions.

[2022-09-28 19:57] #978 closed

[2022-10-03 17:23] #568 closed

[2022-10-03 17:28] morgsmccauley commented on #986
I'm going to close this issue. Feel free to open again if you are still facing this issue :).

[2022-10-03 19:06] agileurbanite opened #1004 "[Bug] near login with ledger enabled account never resolves in goes in vicious cycle"
**Describe the bug**
Create a ledger enabled account on wallet.near.org.  Then using the cli, type `near login` select that account to create a FAK for the CLI.  You will not be able to get out of it.

On OSX Chrome.

near cli version 3.4.2
Chrome: Version 106.0.5249.91
OSX Monterey 12.6

[2022-10-06 00:28] siendoricardo opened #1010 "WalletConnection should return redirect links instead of redirect the whole page."
**Is your feature request related to a problem? Please describe.**
I want to be able to use the link in an iframe or popup instead of redirecting the complete webapp.

**Describe the solution you'd like**
Allowing WalletConnection to have methods that return the redirect URI instead of ultimately returning the web page.

**Describe alternatives you've considered**
Embedding the whole near-api-js c

[2022-10-07 21:46] GildedHonour opened #1012 "How to use the library in a browser and without package.json?"
The docs assume that a web application where a library is used has to have `package.json`. That is, it's nothing but a NodeJs one, every time. There're no other languages and frameworks out there, apparently.

https://docs.near.org/tools/near-api-js/quick-reference#import

It's a non-sensical assumption.

I have a web application which isn't in NodeJs and doesn't have, nor doesn't need `package.js

[2022-10-07 22:08] andy-haynes commented on #1012
You can use `near-api-js` in the browser by referencing the [CDN-hosted bundle](https://www.jsdelivr.com/package/npm/near-api-js?path=dist):
[code]

Example usage [here](https://docs.near.org/develop/integrate/frontend#adding-near-api-js-and-wallet-selector).

[2022-10-07 22:20] GildedHonour commented on #1012
@andy-haynes

(1)
[code]
===>

    Uncaught SyntaxError: Cannot use import statement outside a module (at 2:187:3)

(2)

[code]
===>

    Uncaught TypeError: Failed to resolve module specifier "near-api-js". Relative references must start with either "/", "./", or "../".

[2022-10-07 22:25] andy-haynes commented on #1012
The module is under `window`:

[code]

[2022-10-07 22:28] GildedHonour commented on #1012
[code]

[2022-10-07 22:31] andy-haynes commented on #1012
I've updated my example, rules around JavaScript execution context still apply 🙂

[2022-10-07 22:33] GildedHonour commented on #1012
Ok. But that's an old version. Whereas with the latest version - `1.1.0` - it won't work because of "integrity error".  Where is the  integrity code for the latest version?

[2022-10-07 22:37] andy-haynes commented on #1012
Updated again. My post was copied from your example, which referenced the older version. You can use the [link from above](https://www.jsdelivr.com/package/npm/near-api-js?path=dist) to find the versions and their corresponding hashes (referred to there as `SRI`).

[2022-10-07 23:53] GildedHonour commented on #1012
Thx

[2022-10-07 23:53] #1012 closed

[2022-10-08 00:19] GildedHonour opened #1013 "How to make trigger a popup of a browser-based wallet?"
I have this code in a browser:

[code]

This, however, will redirect me to `https://wallet.testnet.near.org/login`. But this isn't want I want.

I have Sender wallet installed in Chromium. Why won't it trigger a popup with a browser wallet, the way it happens with MetaMask on other website?

More globally, I want to allow a user to send a transaction to my smart contract, with certain parameters t

[2022-10-08 00:50] GildedHonour commented on #1013
2nd question which may make the 1st one irrelevant:

if I do use browser-based wallet instead of the one as extention, how will I allow and make a user to transfer coins to a smart contract? For during authentication there's a text which says that this type of an authentication process won't permit a user, or an application, to transfer coins from a user's wallet. Whereas this is what I need.

![S

[2022-10-10 19:32] #980 closed

[2022-10-10 21:26] siendoricardo commented on #1013
This sounds like a duplicated of the issue I opened: https://github.com/near/near-api-js/issues/1010

I am planning on doing a PR for that on the following days / next week.

[2022-10-13 15:32] GrinOleksandr commented on #824
why this issue is closed? this bug is still appears, the platform can't be used on backend!

[2022-10-13 19:39] marcinbodnar commented on #833
The reason this error appears in the example is because we're using `error-polyfill` to implement stack trace. But I'm not sure how we want to handle this issue. @esaminu do you have a clue?

[2022-10-14 12:03] punithbm commented on #607
@VolanDeVovan  Example you've created is outdated now. If possible can you update it with latest changes ?

[2022-10-17 13:53] pdarcos commented on #678
Guys this bug is creating many problems for us. When will this be fixed?

Thanks

[2022-10-19 21:39] lantelyes opened #1020 "Instantiating a contract object in TypeScript results in a compiler error for view and change methods"
When instantiating a contract in typescript, the `viewMethods` and `changeMethods` are not accessable in the resulting object, this is due to `Object.defineProperty` not being allowed to definitely assign properties via the constructor. See here for reference: https://github.com/microsoft/TypeScript/issues/42919

To reproduce:  instantiate any contract in TypeScript with a view or change method pr

[2022-10-23 18:34] Redmon540 opened #1021 "Get Transactions by provider."
I want to get transactions by block hash.
so I used the provider of near-api-js.
I saw https://github.com/near/near-api-js/blob/master/packages/cookbook/transactions/get-tx-detail.js and integrated my backend.
All necessary parameters have been provided.
So, to get the corresponding blocks, there was a problem in obtaining the chunk again from the block and getting the chunk detail from the chunk

[2022-10-31 21:28] fadeevab opened #1023 "Deprecation warning using _view_ methods on the `Contract` object"
**Describe the bug**

Deprecation warning using any view method:
[code]

**To Reproduce**
`package.json`
[code]
Code example:
[code]

**Expected behavior**
No warning.

**Actual  behavior:**
![image](https://user-images.githubusercontent.com/5967447/199112460-3b93d0e7-d821-49f0-9af5-c7e294ac991e.png)

**Additional context**
I found this commit: https://github.com/near/near-api-js/commit/956e81f5f0

[2022-11-02 09:23] fadeevab commented on #1023
@andy-haynes @marcinbodnar @hcho112 FYI

[2022-11-08 02:42] Sotatek-TungLe3 commented on #339
Hi are you verifying onchain or offchain? If it's onchain, how can I verify using rust?

[2022-11-08 16:50] frol commented on #339
@Sotatek-TungLe3 Here is a contract that does signature verification in Rust on chain: https://github.com/frol/near-birthday-quest/blob/f23dc85da51b44ecdc437d945f3adeababf98cd1/contract/src/lib.rs#L17-L41

[2022-11-09 01:12] Sotatek-TungLe3 commented on #339
What "H5ANpdUoXVwhYBgAgEi1ieMQZKJbwxjPJtHX4vkVcSnF" is? If it is private key and reveal on smart contract, anyone can use the key to sign their message and take a present right?

[2022-11-09 01:52] andy-haynes commented on #1000
@idea404 are you thinking different kinds of errors based on the RPC response? E.g. your original examples in https://github.com/near/workspaces-js/issues/185 would throw something like a `MethodNotFoundError` ("Could not find method X on contract Y") or `ContractNotDeployed` ("No contract deployed to Y").

This looks pretty straightforward, though it's looking like we'll need to extend string mat

[2022-11-09 11:02] frol commented on #339
@Sotatek-TungLe3  please, read the code carefully, that is public key

[2022-11-09 14:21] idea404 commented on #1000
Good point @andy-haynes. I'll start with some string-matching and we can expand it from there!

[2022-11-10 01:02] Sotatek-TungLe3 commented on #339
My bad. Thanks for your answers

[2022-11-10 06:58] andy-haynes commented on #1000
@idea404 I dug in a little more and found that these RPC responses with string error messages don't go through the same error parsing logic as responses with structured errors. I put together a PR to address it as it handles the issue of the `MethodNotFound` error specifically. It doesn't address the bigger picture you've outlined but it's a good start 🙂

https://github.com/near/near-api-js/pull/1

[2022-11-14 10:39] Sotatek-TungLe3 commented on #339
@frol Thanks for your answer but what if user finds last tx inputs and reuses them to create a new tx? They can take present right? How can we prevent it?

[2022-11-14 20:02] KartikSoneji commented on #607
Adding a an alias to the unminified file seems to work

`vite.config.js`
[code]

[2022-11-15 01:24] Sotatek-TungLe3 commented on #339
Do you have any way to prevent replay attack in this case?

[2022-11-15 05:53] TMadzi commented on #757
I found a fix that fixed the Buffer error for me.

[https://github.com/vitejs/vite/discussions/2785](https://github.com/vitejs/vite/discussions/2785)

`npm add node-stdlib-browser
npm add -D vite-plugin-node-stdlib-browser`

`// vite.config.js
import { defineConfig } from 'vite'
import nodePolyfills from 'vite-plugin-node-stdlib-browser'

export default defineConfig({
  // other options
  plugins:

[2022-11-15 17:06] ryancwalsh opened #1031 "How to use Ledger hardware wallet with near-api-js"
I see it proposed at https://github.com/near/near-api-js/issues/259#issuecomment-810631769

Is there any way to use Ledger with near-api-js?

I also found https://github.com/near/near-ledger-js/, but I haven't found documentation about any possible relationship between that repo and this one.

Thanks.

[2022-11-15 18:53] waynenilsen opened #1032 "pnpm lint does not run resulting in not being able to push anything"
**Describe the bug**
pnpm lint does not run resulting in not being able to push anything

[code]

**To Reproduce**

* uninstall any globally installed pnpm and turbo installations
* checkout the main branch
* run `npm i -g pnpm` and `npm i -g turbo`
* run `pnpm lint`

**Expected behavior**
it should work

**Desktop (please complete the following information):**
 - OS: MACOS
 - Version 12.6

**Addi

[2022-11-15 19:15] andy-haynes commented on #1032
Hi @waynenilsen, it looks like `pnpm install` is required prior to `pnpm lint` (to pull in `concurrently`).

However the error you posted seems to indicate an issue with package resolution. Where in the project directory are you running `pnpm lint`?

[2022-11-16 11:21] TMadzi commented on #607
I found a fix that fixed the Buffer error for me.

[](https://github.com/vitejs/vite/discussions/2785)

[code]

// vite.config.js

[code]

Hope this helps

[2022-11-18 22:04] fadeevab commented on #1023
@andy-haynes @marcinbodnar @hcho112 Hey folks, seems like the `near-api-js` 1.1.0, published 1 month ago, doesn't actually contain the changes of 3 months old (https://github.com/near/near-api-js/blob/master/packages/near-api-js/src/contract.ts#L102): the changes in `contract.ts` are not reflected in the actual `node_modules/near-api-js/lib/contract.js` downloaded by `npm install` (at the same tim

[2022-11-19 00:30] andy-haynes commented on #1031
Currently the only implementation I'm aware of is in `near-cli` - using the `--useLedgerKey` flag in conjunction with a command requiring signing will prompt on a connected ledger.

There is a [PR](https://github.com/near/near-api-js/pull/1033) under review to unblock development of this functionality that will require a major release, as the methods around retrieving keys must be asynchronous to

[2022-11-19 00:42] andy-haynes commented on #1023
@fadeevab thank you for catching this, I missed that this was an outstanding feature to be released with v2. I will put together a plan for publishing this along with any other breaking changes we have in the works.

[2022-11-19 01:24] andy-haynes commented on #1032
@waynenilsen  I see that another dev is seeing the same thing https://github.com/near/near-api-js/pull/1029#issuecomment-1317445500

You mention having `turbo` installed globally but it is already a dev dependency of the project root. Seems an unlikely cause but it might be worth removing the global install and trying again.

Are any other commands you've seen not working? You've run `pnpm install

[2022-11-21 10:45] Sotatek-TungLe3 commented on #339
Can you help me solve this issue? https://stackoverflow.com/questions/74517462/how-to-create-signature-as-an-input-for-type-vecu8-on-smart-contract
Tks

[2022-11-21 14:25] ryancwalsh commented on #1031
@andy-haynes Thanks for the update!

[2022-11-22 13:58] felixniemeyer opened #1035 "When building an with rollup that depends on near-api-js through wallet-selector a strange error arises at web app runtime"
**Describe the bug**
I've been developing an app using wallet-selector to handle login to NEAR and contract interactions.
I am using Vite which uses native ESM file serving during development.
After I build the project, which uses rollup internally and processes fine, I get an `Uncaught TypeError` when opening the web app in the browser:

in the file `account_multisig.js`

`class heritage account_

[2022-11-22 14:01] felixniemeyer commented on #1035
Here is some code from the transpiled account_multisig.js
[code]

And here the account.js
[code]

[2022-11-22 17:34] mattlockyer opened #1044 "signAndSendTransactions should be able to handle multiple transactions without redirect"

[2022-11-23 10:30] kujtimprenkuSQA opened #1036 "Inconsistent or wrong type of AccessKeyView.nonce when calling provider.query<AccessKeyView>(params)"
**Describe the bug**
While trying to upgrade the `near-api-js` dependency to the latest version noticed that the type of `nonce` is not actually of type `BN` but a `number` when we call `provider.query<AccessKeyView>(params)`

**To Reproduce**
Steps to reproduce the behavior:
[code]
In the IDE it suggests that the above `accessKey.nonce` is of type BN and allows you to access methods like `accessK

[2022-11-23 10:56] kujtimprenkuSQA commented on #1035
@felixniemeyer could you try having a look at this comment: https://github.com/near/wallet-selector/issues/502#issuecomment-1284158448 follow the links in the comment and I believe you will get this issue sorted.

[2022-11-23 11:35] felixniemeyer commented on #1035
Thank you for pointing me there again!
You were way ahead of me back then :sweat_smile:

Making the recommended changes from [the post you are linking to](https://github.com/sapphi-red) to my vite config fixed it:
[code]

[2022-11-23 11:35] #1035 closed

[2022-11-25 19:40] kasodon commented on #757
Just resolved this error in a CRA. Follow this link: [resolve buffer error in create-react-app](https://github.com/facebook/create-react-app/issues/11756#issuecomment-1016688275)

[2022-11-28 11:00] kasodon opened #1038 "Format returned storage bytes to human-readable digits"
When calling the 'view_account' method, the returned account storage bytes should be parsed to a readable format.

I used a custom solution for a near-todo-app I'm currently working on. Here's it:
`formatNearBytes(b) {
    const units = ["bytes", "KB", "MB", "GB", "TB", "PB", "EB", "ZB", "YB"];

    let l = 0,
      n = parseInt(b, 10) || 0;

    while (n >= 1024 && ++l) {
      n = n / 1024;

[2022-11-30 21:21] waynenilsen opened #1039 "secp256k1 key support"
**Is your feature request related to a problem? Please describe.**

This library is not capable of properly serializing secp256k1 public keys.

The deserialization side requires 64 bytes but the schema requires 32 bytes

**Describe the solution you'd like**

Basically I am asking that this client update to something equivalent to
what [nearcore has](https://github.com/near/nearcore/blob/367962b5cd